.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Inter', sans-serif;
  font-size: 3.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.5rem;
}
.display-2 {
  font-family: 'Inter', sans-serif;
  font-size: 3.2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4rem;
}
.display-4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.88rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.52rem;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #002152 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #e5ba00 !important;
}
.bg-danger {
  background-color: #4479d9 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #002152 !important;
  border-color: #002152 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d4ac00 !important;
  border-color: #d4ac00 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #7d6600 !important;
  border-color: #7d6600 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #7d6600 !important;
  border-color: #7d6600 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #e5ba00 !important;
  border-color: #e5ba00 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #8e7400 !important;
  border-color: #8e7400 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #8e7400 !important;
  border-color: #8e7400 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #002152;
  color: #002152;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #002152 !important;
  border-color: #002152 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #d4ac00;
  color: #d4ac00;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #7d6600 !important;
  background-color: transparent!important;
  border-color: #7d6600 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #d4ac00 !important;
  border-color: #d4ac00 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #e5ba00;
  color: #e5ba00;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #8e7400 !important;
  background-color: transparent!important;
  border-color: #8e7400 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #e5ba00 !important;
  border-color: #e5ba00 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #4479d9;
  color: #4479d9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: #2150a5 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #002152 !important;
}
.text-secondary {
  color: #d4ac00 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #e5ba00 !important;
}
.text-danger {
  color: #4479d9 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #6e5900 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #7f6700 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #1f4a98 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #002152;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #e5ba00;
}
.alert-danger {
  background-color: #4479d9;
}
.mbr-gallery-filter li.active .btn {
  background-color: #002152;
  border-color: #002152;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #002152;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #3988ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff1b2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #eef2fb;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #002152 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #002152;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #002152;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #002152;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #002152;
  border-bottom-color: #002152;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #002152 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d4ac00 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23002152' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tE9o6atbBI {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tE9o6atbBI nav.navbar {
  position: fixed;
}
.cid-tE9o6atbBI .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tE9o6atbBI .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tE9o6atbBI .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tE9o6atbBI .dropdown-item:hover,
.cid-tE9o6atbBI .dropdown-item:focus {
  background: #002152 !important;
  color: white !important;
}
.cid-tE9o6atbBI .dropdown-item:hover span {
  color: white;
}
.cid-tE9o6atbBI .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tE9o6atbBI .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tE9o6atbBI .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tE9o6atbBI .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tE9o6atbBI .nav-link {
  position: relative;
}
.cid-tE9o6atbBI .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tE9o6atbBI .container {
    flex-wrap: wrap;
  }
}
.cid-tE9o6atbBI .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tE9o6atbBI .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tE9o6atbBI .iconfont-wrapper {
  color: #002152 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tE9o6atbBI .dropdown-menu,
.cid-tE9o6atbBI .navbar.opened {
  background: #ffffff !important;
}
.cid-tE9o6atbBI .nav-item:focus,
.cid-tE9o6atbBI .nav-link:focus {
  outline: none;
}
.cid-tE9o6atbBI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tE9o6atbBI .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tE9o6atbBI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tE9o6atbBI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tE9o6atbBI .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tE9o6atbBI .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tE9o6atbBI .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-tE9o6atbBI .navbar.opened {
  transition: all 0.3s;
}
.cid-tE9o6atbBI .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tE9o6atbBI .navbar .navbar-logo img {
  width: auto;
}
.cid-tE9o6atbBI .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tE9o6atbBI .navbar.collapsed {
  justify-content: center;
}
.cid-tE9o6atbBI .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tE9o6atbBI .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tE9o6atbBI .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.1rem);
  }
}
.cid-tE9o6atbBI .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tE9o6atbBI .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tE9o6atbBI .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tE9o6atbBI .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tE9o6atbBI .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tE9o6atbBI .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tE9o6atbBI .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tE9o6atbBI .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tE9o6atbBI .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tE9o6atbBI .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tE9o6atbBI .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tE9o6atbBI .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tE9o6atbBI .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tE9o6atbBI .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tE9o6atbBI .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tE9o6atbBI .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tE9o6atbBI .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tE9o6atbBI .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tE9o6atbBI .navbar.navbar-short {
  min-height: 60px;
}
.cid-tE9o6atbBI .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tE9o6atbBI .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tE9o6atbBI .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tE9o6atbBI .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tE9o6atbBI .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tE9o6atbBI .dropdown-item.active,
.cid-tE9o6atbBI .dropdown-item:active {
  background-color: transparent;
}
.cid-tE9o6atbBI .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tE9o6atbBI .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tE9o6atbBI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tE9o6atbBI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tE9o6atbBI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tE9o6atbBI .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tE9o6atbBI ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tE9o6atbBI .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tE9o6atbBI button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tE9o6atbBI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #002152;
}
.cid-tE9o6atbBI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tE9o6atbBI button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tE9o6atbBI button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tE9o6atbBI button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tE9o6atbBI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tE9o6atbBI nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tE9o6atbBI nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tE9o6atbBI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tE9o6atbBI .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tE9o6atbBI a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tE9o6atbBI .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tE9o6atbBI .navbar {
    height: 70px;
  }
  .cid-tE9o6atbBI .navbar.opened {
    height: auto;
  }
  .cid-tE9o6atbBI .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tE9olZuJKK {
  background-color: #fafafa;
}
.cid-tE9olZuJKK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tE9olZuJKK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tE9olZuJKK .mbr-section-title,
.cid-tE9olZuJKK .mbr-text,
.cid-tE9olZuJKK .mbr-section-btn {
  text-align: center;
}
.cid-tE9olZuJKK .video-wrapper {
  margin: auto;
}
.cid-tE9olZuJKK .video-wrapper iframe {
  width: 100%;
}
.cid-tE9olZuJKK .mbr-section-title {
  color: #390066;
  text-align: center;
}
.cid-tE9olZuJKK .mbr-text,
.cid-tE9olZuJKK .mbr-section-btn {
  color: #390066;
}
.cid-tE9k77QPkg {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tE9k77QPkg .mbr-fallback-image.disabled {
  display: none;
}
.cid-tE9k77QPkg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tE9k77QPkg .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-tE9k77QPkg .container {
    max-width: 1400px;
  }
}
.cid-tE9k77QPkg .card {
  margin: auto;
}
.cid-tE9k77QPkg .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #390066;
  margin-bottom: 2rem;
}
.cid-tE9k77QPkg .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tE9k77QPkg .row {
  justify-content: center;
}
.cid-tE9kc3b5Bu {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tE9kc3b5Bu .mbr-fallback-image.disabled {
  display: none;
}
.cid-tE9kc3b5Bu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tE9kc3b5Bu .mbr-section-title {
  color: #390066;
}
.cid-tE9kc3b5Bu .mbr-section-subtitle {
  text-align: center;
}
.cid-tE9kc3b5Bu .mbr-section-subtitle DIV {
  text-align: right;
}
.cid-tEfvRjOPVg {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tE9LPPN1y7 {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #bed3f9;
}
.cid-tE9LPPN1y7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tE9LPPN1y7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tE9LPPN1y7 .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-tE9LPPN1y7 .card {
    margin-bottom: 2rem!important;
  }
  .cid-tE9LPPN1y7 .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tE9LPPN1y7 .link-wrap {
    align-items: center;
  }
}
.cid-tE9LPPN1y7 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tE9LPPN1y7 .mbr-text UL {
  text-align: left;
}
.cid-tE9LPPN1y7 .card-title,
.cid-tE9LPPN1y7 .card-box {
  color: #002152;
}
.cid-tE9rtEJgpI {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #9fdbf8;
}
.cid-tE9rtEJgpI .mbr-text {
  text-align: center;
  color: #002152;
}
.cid-tE9kAJGvek {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tE9nhd8qCO {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #e9e7e7;
}
.cid-tE9nhd8qCO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tE9nhd8qCO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tE9nhd8qCO .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .cid-tE9nhd8qCO .item {
    margin-bottom: 4rem;
  }
}
.cid-tE9nhd8qCO .item:last-child .icon-box:before {
  display: none;
}
.cid-tE9nhd8qCO .item.last .icon-box:before {
  display: none;
}
.cid-tE9nhd8qCO .icon-box {
  background: #4479d9;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tE9nhd8qCO .icon-box {
    margin-right: 1rem;
  }
}
.cid-tE9nhd8qCO .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 45px;
  left: 50%;
  top: 48%;
  top: 100%;
  color: #4479d9;
  transform: translate(-50%, 0);
}
.cid-tE9nhd8qCO span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tE9nhd8qCO .card {
    margin-bottom: 2rem;
  }
  .cid-tE9nhd8qCO .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tE9nhd8qCO .icon-box::before {
    top: 141%;
    top: 123%;
  }
}
@media (max-width: 768px) {
  .cid-tE9nhd8qCO .icon-box::before {
    top: 114%;
  }
}
.cid-tE9nhd8qCO .card-title,
.cid-tE9nhd8qCO .card-box {
  color: #390066;
}
.cid-tE9nhd8qCO .icon-text {
  color: #390066;
}
.cid-tEd31MwCXN {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #e9e7e7;
}
.cid-tEd31MwCXN .mbr-fallback-image.disabled {
  display: none;
}
.cid-tEd31MwCXN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tEd31MwCXN .mbr-section-title {
  color: #ffffff;
}
.cid-tEd31MwCXN .mbr-section-subtitle {
  color: #00265f;
}
.cid-tE9t6dPh0w {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tE9tKIc7dk {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #22a5e5;
}
.cid-tE9tKIc7dk .counter-container ol {
  margin-bottom: 0;
}
.cid-tE9tKIc7dk .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-tE9tKIc7dk .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-tE9tKIc7dk .mbr-text {
  color: #ffffff;
}
.cid-tE9tKIc7dk .mbr-text P {
  text-align: center;
}
.cid-tEdkhVFaG5 {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #22a5e5;
}
.cid-tEdkhVFaG5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tEdkhVFaG5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tEdkhVFaG5 .card-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .cid-tEdkhVFaG5 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tEdkhVFaG5 .mbr-iconfont {
  font-size: 2rem;
  color: #6592e6;
  padding-right: 1.5rem;
}
.cid-tEdkhVFaG5 .card-text {
  color: #ffffff;
  text-align: center;
}
.cid-tEdkhVFaG5 .card-title {
  color: #002152;
  text-align: center;
}
.cid-tE9uIB2A7j {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #e9e7e7;
}
.cid-tE9uIB2A7j .mbr-text {
  color: #002152;
}
.cid-tEd2kGfCFZ {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tE9vGZD7gX {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #2a2a2a;
}
.cid-tE9vGZD7gX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tE9vGZD7gX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tE9vGZD7gX .mbr-section-title {
  color: #ffffff;
}
.cid-tE9vGZD7gX .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tE9vyoO8uD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
@media (min-width: 992px) {
  .cid-tE9vyoO8uD .carousel {
    min-height: 700px;
  }
  .cid-tE9vyoO8uD .carousel img {
    max-height: 700px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tE9vyoO8uD .carousel {
    min-height: 455px;
  }
  .cid-tE9vyoO8uD .carousel img {
    max-height: 455px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-tE9vyoO8uD .carousel {
    min-height: 385px;
  }
  .cid-tE9vyoO8uD .carousel img {
    max-height: 385px;
    object-fit: contain;
  }
  .cid-tE9vyoO8uD .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-tE9vyoO8uD .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-tE9vyoO8uD .carousel,
.cid-tE9vyoO8uD .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tE9vyoO8uD .item-wrapper {
  width: 100%;
}
.cid-tE9vyoO8uD .carousel-caption {
  bottom: 40px;
}
.cid-tE9vyoO8uD .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-tE9vyoO8uD .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-tE9vyoO8uD .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-tE9vyoO8uD .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-tE9vyoO8uD .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tE9vyoO8uD .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tE9vyoO8uD .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tE9vyoO8uD .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tE9vyoO8uD .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-tE9vyoO8uD .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tE9vyoO8uD .carousel-indicators li.active,
.cid-tE9vyoO8uD .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tE9vyoO8uD .carousel-indicators li::after,
.cid-tE9vyoO8uD .carousel-indicators li::before {
  content: none;
}
.cid-tE9vyoO8uD .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tE9vyoO8uD .carousel-indicators {
    display: none !important;
  }
}
.cid-tE9uDPGEmW {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
.cid-tE9N7dr9NS {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #353535;
}
.cid-tE9N7dr9NS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tE9N7dr9NS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tE9N7dr9NS .mbr-section-title {
  color: #ffffff;
}
.cid-tE9N7dr9NS .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tE9BJONR5a {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #353535;
}
.cid-tE9BJONR5a img,
.cid-tE9BJONR5a .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tE9BJONR5a .item:focus,
.cid-tE9BJONR5a span:focus {
  outline: none;
}
.cid-tE9BJONR5a .item-wrapper {
  position: relative;
}
.cid-tE9BJONR5a .slide-content {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tE9BJONR5a .slide-content .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tE9BJONR5a .slide-content .item-content {
    padding: 1rem;
  }
}
.cid-tE9BJONR5a .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tE9BJONR5a .mbr-section-title {
  color: #232323;
}
.cid-tE9BJONR5a .mbr-text,
.cid-tE9BJONR5a .mbr-section-btn {
  text-align: left;
}
.cid-tE9BJONR5a .item-title {
  text-align: left;
}
.cid-tE9BJONR5a .item-subtitle {
  text-align: left;
}
.cid-tE9BJONR5a .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tE9BJONR5a .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tE9BJONR5a .embla__button--next,
.cid-tE9BJONR5a .embla__button--prev {
  display: flex;
}
.cid-tE9BJONR5a .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tE9BJONR5a .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tE9BJONR5a .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tE9BJONR5a .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tE9BJONR5a .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tE9BJONR5a .embla__button {
    top: auto;
  }
}
.cid-tE9BJONR5a .embla {
  position: relative;
  width: 100%;
}
.cid-tE9BJONR5a .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tE9BJONR5a .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tE9BJONR5a .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tE9BJONR5a .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tE9ClNtPGt {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tE9ClNtPGt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tE9ClNtPGt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 992px) {
  .cid-tE9ClNtPGt .text-wrapper {
    padding: 2rem;
  }
}
.cid-tE9ClNtPGt .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-tE9ClNtPGt .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tE9ClNtPGt .mbr-text {
  text-align: left;
}
.cid-tEdqfGZRe5 {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tEdqfGZRe5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tEdqfGZRe5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tEdqfGZRe5 .card-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .cid-tEdqfGZRe5 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tEdqfGZRe5 .mbr-iconfont {
  font-size: 2rem;
  color: #6592e6;
  padding-right: 1.5rem;
}
.cid-tEdqfGZRe5 .card-text {
  color: #00265f;
  text-align: left;
}
.cid-tEdqfGZRe5 .card-title {
  color: #002152;
  text-align: left;
}
.cid-tE9Ct5kwp7 {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tE9Ct5kwp7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tE9Ct5kwp7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tE9Ct5kwp7 .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #002152;
  margin-left: 1rem;
}
.cid-tE9Ct5kwp7 .panel-group {
  border: none;
}
.cid-tE9Ct5kwp7 .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tE9Ct5kwp7 .panel-body,
.cid-tE9Ct5kwp7 .card-header {
  padding: 1rem 0;
}
.cid-tE9Ct5kwp7 .panel-title-edit {
  color: #000000;
}
.cid-tE9Ct5kwp7 .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tE9Ct5kwp7 H3 {
  color: #002152;
}
.cid-tE9Ct5kwp7 H4 {
  color: #002152;
}
.cid-tE9Ct5kwp7 .panel-text {
  color: #000000;
}
.cid-tEcUfSKp75 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tEcUfSKp75 .line {
  background-color: #390066;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tEcUfSKp75 .mbr-text {
  color: #00265f;
}
.cid-tE9H7x79bf {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tEdfK42iP8 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #00265f;
}
.cid-tEdfK42iP8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tEdfK42iP8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tEdfK42iP8 .mbr-section-title {
  color: #ffffff;
}
.cid-tEdfK42iP8 .mbr-section-subtitle {
  color: #00265f;
}
.cid-tEcUJ51waC {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #00265f;
}
.cid-tEcUJ51waC .mbr-text {
  text-align: center;
  color: #6ec7f2;
}
.cid-tE9o6atbBI {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tE9o6atbBI nav.navbar {
  position: fixed;
}
.cid-tE9o6atbBI .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tE9o6atbBI .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tE9o6atbBI .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tE9o6atbBI .dropdown-item:hover,
.cid-tE9o6atbBI .dropdown-item:focus {
  background: #002152 !important;
  color: white !important;
}
.cid-tE9o6atbBI .dropdown-item:hover span {
  color: white;
}
.cid-tE9o6atbBI .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tE9o6atbBI .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tE9o6atbBI .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tE9o6atbBI .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tE9o6atbBI .nav-link {
  position: relative;
}
.cid-tE9o6atbBI .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tE9o6atbBI .container {
    flex-wrap: wrap;
  }
}
.cid-tE9o6atbBI .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tE9o6atbBI .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tE9o6atbBI .iconfont-wrapper {
  color: #002152 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tE9o6atbBI .dropdown-menu,
.cid-tE9o6atbBI .navbar.opened {
  background: #ffffff !important;
}
.cid-tE9o6atbBI .nav-item:focus,
.cid-tE9o6atbBI .nav-link:focus {
  outline: none;
}
.cid-tE9o6atbBI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tE9o6atbBI .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tE9o6atbBI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tE9o6atbBI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tE9o6atbBI .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tE9o6atbBI .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tE9o6atbBI .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-tE9o6atbBI .navbar.opened {
  transition: all 0.3s;
}
.cid-tE9o6atbBI .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tE9o6atbBI .navbar .navbar-logo img {
  width: auto;
}
.cid-tE9o6atbBI .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tE9o6atbBI .navbar.collapsed {
  justify-content: center;
}
.cid-tE9o6atbBI .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tE9o6atbBI .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tE9o6atbBI .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.1rem);
  }
}
.cid-tE9o6atbBI .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tE9o6atbBI .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tE9o6atbBI .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tE9o6atbBI .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tE9o6atbBI .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tE9o6atbBI .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tE9o6atbBI .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tE9o6atbBI .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tE9o6atbBI .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tE9o6atbBI .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tE9o6atbBI .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tE9o6atbBI .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tE9o6atbBI .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tE9o6atbBI .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tE9o6atbBI .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tE9o6atbBI .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tE9o6atbBI .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tE9o6atbBI .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tE9o6atbBI .navbar.navbar-short {
  min-height: 60px;
}
.cid-tE9o6atbBI .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tE9o6atbBI .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tE9o6atbBI .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tE9o6atbBI .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tE9o6atbBI .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tE9o6atbBI .dropdown-item.active,
.cid-tE9o6atbBI .dropdown-item:active {
  background-color: transparent;
}
.cid-tE9o6atbBI .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tE9o6atbBI .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tE9o6atbBI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tE9o6atbBI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tE9o6atbBI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tE9o6atbBI .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tE9o6atbBI ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tE9o6atbBI .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tE9o6atbBI button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tE9o6atbBI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #002152;
}
.cid-tE9o6atbBI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tE9o6atbBI button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tE9o6atbBI button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tE9o6atbBI button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tE9o6atbBI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tE9o6atbBI nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tE9o6atbBI nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tE9o6atbBI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tE9o6atbBI .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tE9o6atbBI a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tE9o6atbBI .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tE9o6atbBI .navbar {
    height: 70px;
  }
  .cid-tE9o6atbBI .navbar.opened {
    height: auto;
  }
  .cid-tE9o6atbBI .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tEl0zNIkBT {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #a286ff;
}
.cid-tEl0zNIkBT .mbr-fallback-image.disabled {
  display: none;
}
.cid-tEl0zNIkBT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tEl0zNIkBT .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-tEl0zNIkBT .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tEl0zNIkBT .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tEl0zNIkBT .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tEl0zNIkBT .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tEl0zNIkBT .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-tEl0zNIkBT .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tEl0zNIkBT .card-title {
  text-align: center;
}
.cid-tEl0zNIkBT .mbr-text,
.cid-tEl0zNIkBT .mbr-section-btn {
  text-align: center;
}
.cid-tEl77x8InI {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tEl77x8InI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tEl77x8InI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tEl77x8InI .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-tEl77x8InI .container {
    max-width: 1400px;
  }
}
.cid-tEl77x8InI .card {
  margin: auto;
}
.cid-tEl77x8InI .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #390066;
  margin-bottom: 2rem;
}
.cid-tEl77x8InI .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tEl77x8InI .row {
  justify-content: center;
}
.cid-tEl74QSFqa {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #353535;
}
.cid-tEl74QSFqa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tEl74QSFqa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tEl74QSFqa .mbr-section-title {
  color: #ffffff;
}
.cid-tEl74QSFqa .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tEl75pCXt4 {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #353535;
}
.cid-tEl75pCXt4 img,
.cid-tEl75pCXt4 .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tEl75pCXt4 .item:focus,
.cid-tEl75pCXt4 span:focus {
  outline: none;
}
.cid-tEl75pCXt4 .item-wrapper {
  position: relative;
}
.cid-tEl75pCXt4 .slide-content {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tEl75pCXt4 .slide-content .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tEl75pCXt4 .slide-content .item-content {
    padding: 1rem;
  }
}
.cid-tEl75pCXt4 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tEl75pCXt4 .mbr-section-title {
  color: #232323;
}
.cid-tEl75pCXt4 .mbr-text,
.cid-tEl75pCXt4 .mbr-section-btn {
  text-align: left;
}
.cid-tEl75pCXt4 .item-title {
  text-align: left;
}
.cid-tEl75pCXt4 .item-subtitle {
  text-align: left;
}
.cid-tEl75pCXt4 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-tEl75pCXt4 .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tEl75pCXt4 .embla__button--next,
.cid-tEl75pCXt4 .embla__button--prev {
  display: flex;
}
.cid-tEl75pCXt4 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tEl75pCXt4 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tEl75pCXt4 .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tEl75pCXt4 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tEl75pCXt4 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tEl75pCXt4 .embla__button {
    top: auto;
  }
}
.cid-tEl75pCXt4 .embla {
  position: relative;
  width: 100%;
}
.cid-tEl75pCXt4 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tEl75pCXt4 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tEl75pCXt4 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tEl75pCXt4 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tEl6m3CbHo {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #00265f;
}
.cid-tEl6m3CbHo .mbr-fallback-image.disabled {
  display: none;
}
.cid-tEl6m3CbHo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tEl6m3CbHo .mbr-section-title {
  color: #ffffff;
}
.cid-tEl6m3CbHo .mbr-section-subtitle {
  color: #00265f;
}
